
.form{
    margin: 3% auto 5% 15%;
    width: 60vw;
    height: 100vh;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color:rgb(250, 249, 249);
    
}
.head{
    text-align: center;
    background-color: rgb(247, 243, 243);
    color: rgb(59, 18, 18);
    text-align: center;
}
.input{
    background-color: rgb(252, 247, 247);
  border: 1.5px solid rgb(116, 25, 25);
    color: rgb(100, 25, 25);
    height: 8vh;
    width: 50vw;
    border-radius: 6px;
}
.input:focus{
    border: 2px solid rgb(116, 39, 39);
}
.headings{
    margin:auto;
    color: rgb(83, 22, 22);
}
.btn{
    color: white;
    background-color: rgb(97, 22, 22);
    height: 9vh;
    width: 50vw;
    margin: auto;
    border: 1px solid rgb(247, 220, 220);
    border-radius: 8px;
} 
.btn:hover{
    background-color: rgb(131, 25, 25);
    color:white;
    border: 1px solid brown;
}
