<form action="" class="form">
    <!-- Address Deatail header -->
    <div class="head">
       <h1>
    <i>Billing Address</i></h1></div>
    <div class="headings">
    <!-- For input name -->
    <label for="name"><h5><i class="fa fa-user"></i> Full Name :</h5> </label><br>
    <input class="input" [(ngModel)]="checkoutDetails.name" type="text" placeholder="Name" name="name"><br><br>

    <!-- For input Address -->
   <label for=""><h5><i class="fa fa-address-card"></i> Address : </h5></label><br>
   <input class="input" [(ngModel)]="checkoutDetails.address" type="text" name="address" id="" placeholder="Address"><br><br>

   <!-- For input Phone no -->
   <label for=""><h5><i class="fa fa-phone" ></i> Phone : </h5></label><br>
   <input class="input" [(ngModel)]="checkoutDetails.phone" type="text" placeholder="Phone" name="phone"><br><br>

   <!-- For input Pincode -->
<label for=""><h5><i class="fas fa-list-ol"></i> Pincode : </h5></label><br>
<input class="input" [(ngModel)]="checkoutDetails.pincode" type="text" placeholder="Pincode" name="pincode"><br><br>

<!-- For input City -->
<label for=""><h5><i class="fa fa-institution"></i> City : </h5></label><br>
<input class="input" [(ngModel)]="checkoutDetails.city" type="text" name="city" id="" placeholder="City"><br><br>

<!-- For input Price -->
<label for=""><h5><i class="fas fa-money-bill"></i> Price : </h5></label><br>
<input class="input" [(ngModel)]="checkoutDetails.price" type="text" name="price" id="" placeholder="City" disabled><br><br>

<button class="btn" (click)="confirm()">Confirm</button>
   </div>
</form>
