<!-- <p>address works!</p> -->




<form action="" class="form">
    <div class="head">
    <h1>Address Details</h1></div>
    <div class="h">
    <label for="name"><b>Full Name :</b> </label>
    <input class="input" [(ngModel)]="checkoutDetails.name" type="text" placeholder="Name" name="name"><br><br>
 
   <label for=""><b>Address : </b></label>
   <input class="input" [(ngModel)]="checkoutDetails.address" type="text" name="address" id="" placeholder="Address"><br><br>

<label for=""><b>Phone : </b></label>
<input class="input" [(ngModel)]="checkoutDetails.phone" type="text" placeholder="Phone" name="phone"><br><br>

<label for=""><b>Pincode : </b></label>
<input class="input" [(ngModel)]="checkoutDetails.pincode" type="text" placeholder="Pincode" name="pincode"><br><br>

<label for=""><b>City : </b></label>
<input class="input" [(ngModel)]="checkoutDetails.city" type="text" name="city" id="" placeholder="City"><br><br>


<label for=""><b>Price : </b></label>
<input class="input" [(ngModel)]="checkoutDetails.price" type="text" name="price" id="" placeholder="City" disabled><br><br>

<!-- <button class="btn" (click)="orderCake()">order now</button> -->
<button class="btn" routerLink="/checkout/orderconfirm">Confirm</button>
   

</div>
</form>
