.box{
    width: 15vw;
    height: 100vh;
    border: 1px solid brown;
    box-shadow: 5px 5px 5px 5px brown;
    
}
li{
    border: 1px solid brown;
    list-style: none;
}
a{
    color: brown;
    text-decoration: none;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 10fr;
  
  
}










/* .form{
    border: 1px solid brown;
    margin-left: 300px;
    margin-top: 30px;
    width: 50vw;
    height: 100vh;
    height: auto;
  box-shadow: 5px 5px 5px 5px brown;
    display: grid;
    grid-template-rows: 1fr 10fr;
  
}
.head{
    text-align: center;
    background-color: brown;
    color: white;
}
.input{
    background-color: rgb(255, 241, 241);
    color: brown;
    margin-top: 20px;
    margin-left: 50px;
    height: 30px;
    width: 300px;
}
.h{
    margin-left: 130px;
    color: brown;
}
.btn{
    color: white;
    background-color: brown;
    width: 450px;
    height: 40px;
    border: 1px solid rgb(247, 220, 220);
    border-radius: 8px;
} */