.box{
  margin: auto;
  padding: 5%;
  height: 80vh;
  width: 70vw;
  display: grid;
  grid-template-rows: 1fr 12fr;
}
.check{
  background-color: rgb(65, 19, 19);
  display: grid;
  grid-template-columns: 4fr .5fr;
}
.heading{
  text-align: center;
  color: rgb(255, 255, 255);
}
.checkout-button{
  height:40px ;
  width: 100px;
  margin: 10px;
  border: 1px solid white;
  background-color: rgb(104, 32, 32);
  color: white;
  border-radius: 8px;
}
.checkout-button:hover{
  background-color: rgb(233, 214, 214);
  color: brown;
}
.table-detail{
  width: 100%;
}
th{
  font-size: 20px;
}
th, td {
  padding: 10px;
  color: brown;
}
table{
  text-align: center;
}
tr:hover{
  background-color: rgb(243, 235, 235);
}
.remove{
 background-color: brown;
 color: white;
 border-radius: 5px;
}
.remove:hover{
  background-color: rgb(226, 177, 177);
  color: brown;
}



