<form action="" class="form">
    <div class="head">
    <h1>Order Confirmation</h1></div>
    <div class="h" >
    <!-- user name -->
    <label for="name"><span><b>Name : </b></span>{{detail.name}} </label><br>
   
    <!-- user address -->
   <label for=""><b>Address : </b>{{detail.address}} </label><br>

   <!-- user phone -->
<label for=""><b>Phone : </b>{{detail.phone}}</label><br>

<!-- user pincode -->
<label for=""><b>Pincode :</b>{{detail.pincode}} </label><br>

<label for=""><b>City : </b>{{detail.city}}</label><br>


<label for=""><b>Price :</b>{{detail.price}} </label><br>
<button class="btn" (click)="orderCake()">Confirm Order</button>
</div>
</form>
  