

 .form{
    margin: 5% auto 5% auto;
    width: 40vw;
    height: 60vh;
    height: auto;
   background-color: rgb(248, 242, 242);
    display: grid;
    grid-template-rows: 1fr auto;
  
}
.head{
    text-align: center;
    background-color: rgb(92, 22, 22);
    color: white;
}
/* .input{
    background-color: rgb(255, 241, 241);
    color: brown;
    margin-top: 20px;
    margin-left: 100px;
    height: 30px;
    width: 300px;
} */
.h{
    margin-left: 10%;
    color: brown;
}
.btn{
    color: white;
    background-color: rgb(92, 24, 24);
    width: 200px;
    height: 40px;
    border: 1px solid rgb(247, 220, 220);
    border-radius: 8px;
} 