.box{
    width: 70vw;
    height: 100vh;
    margin: 3% auto auto auto;
}
.image{
    height: 15vh;
    width: 10vw;
}
.button{
    background-color: rgb(119, 44, 44);
    color: white;
    border: 1px solid rgb(238, 165, 165);
    height: 6vh;
    width: 6vw;
    border-radius: 5px;
    
}
.add{
    float: right;
    background-color: rgb(105, 30, 30);
    color: white;
    border: 1px solid rgb(238, 165, 165);
    height: 7vh;
    width: 10vw;
    border-radius: 5px;
    /* margin-top:  5px; */
}
.head{
    /* background-color: rgb(88, 22, 22);
    color: white; */
    color: black;
    font-size: 20px;
}
.padding{
    padding: 30px;
}