<div>
<div class ="cake--container">
    <!-- Cake card -->
        <div   *ngFor="let eachCake of card ; let i=index" class="card"  (click)="sendID(i)" appHighlight>
         <div class="cake--img">
        <img src={{eachCake.image}} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h6 class="card-text">{{eachCake.name}}</h6>
          <h6 class="card-text">Price:{{eachCake.price | currency:'INR'}}</h6>
         </div>
      </div>
    </div>

</div>










