.form{
    border: 1px solid brown;
   margin: 5% auto 5% auto;
    width: 50vw;
    height: 100vh;
    height: auto;

    display: grid;
    grid-template-rows: 1fr 10fr;
    background-color: rgb(253, 253, 253);
  
}
.head{
    text-align: center;
    background-color: brown;
    color: white;
}
.input{
    background-color: rgb(255, 241, 241);
    color: brown;
    margin-top: 20px;
    margin-left: 50px;
    height: 30px;
    width: 300px;
}
.h{
    margin-left: 130px;
    color: brown;
}
.btn{
    color: white;
    background-color: brown;
    width: 450px;
    height: 40px;
    border: 1px solid rgb(247, 220, 220);
}