.box{
    height: auto;
    width:67vw;
    margin: 2% auto 5% auto;
  }
  .check{
    background-color: rgb(63, 11, 11);
  }
  .head{
    text-align: center;
    color: white;
}
.hidden{
    display:none;
 }
  .image{
    height: 100px;
    width: 100px;
  }  
  .heading{
    width: 100%;
    margin-left: 15%;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

