   
<div  class="box">
    <div class="check">
    <div ><h1 class="head">My Order</h1></div>
   
  </div>
  <div class="table">
  <table class="t">
    <thead>
    <tr>
      <th>Order Id</th>
      <th>Name</th>
      <th>Date</th>
      <th>Mode</th>
      <th>Price</th>
   </tr>
  </thead>


  <tbody *ngFor="let value of detail; let i = index">
    <tr  (click)="showdetails(i)">
      <td>{{value.orderid}}</td>
      <td>{{value.name}}</td>
      <td>{{value.orderdate}}</td>
      <td>{{value.mode}}</td>
      <td>{{value.price}}/-</td>
    </tr>


  <!-- orderdetails -->
  <div class="hidden abc" id="cake{{i}}">
<table class="orderDetails">
      <div  *ngFor="let detail of value.cakes">
     <td> <div ><img class="image" src="{{detail.image}}" alt=""></div></td>
      <!-- <div class="deatils"> -->
      <td>  <h6>{{detail.name}}</h6></td>
       <td> <h6>Quantity: {{detail.quantity}}</h6></td>
     <td>  <h6>Price {{detail.price}}/-</h6></td> 
      <td>  <h6>Weight: {{detail.weight}}Kg</h6></td>
      <!-- </div> -->
      <hr>
    </div>

  </table>
  </div>

</tbody>
</table>
</div>   
</div>